
body {
    background: #6865e6;
}
.calc {
    border-radius: 50px;
    background: #6865e6;
    box-shadow:  20px 20px 60px #5856c4,
             -20px -20px 60px #7874ff;
    width: 310px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 32px auto;
    padding: 10px;
    color: navy;
    font-family: sans-serif;
}
.calc-title {
    font-size: 28px;
    text-align: center;
    font-weight: normal;
}
label {
    display: block;
    font-size: 24px;
    margin: 0 auto 4px;
    z-index: 1;
}
input {
    width: 140px;
    height: 50px;
    font-size: 24px;
    margin: 0 auto 10px;
    border-radius: 20px;
    background: #6865e6;
    box-shadow:  20px 20px 60px #5856c4,
             -20px -20px 60px #7874ff;
    text-align: center;
    caret-color: white;
    color: navy;
    border: none;
    
}
input:focus {
    outline-color: navy;
    outline-width: 1px;
}